.spot-light-react {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.spot-light-react-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
